{% content_for "page_title" -%}Edit product{%- endcontent_for %}

<h1>Edit product</h1>

{%
  include_form "modules/catalog/product",
  resource_type: "modules/catalog/product",
  resource_id: context.params.slug3
%}
